<!DOCTYPE html>
<html>
    <head>
        <title>BPW兼善天下</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, minimum-scale=1, user-scalable=no" >
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<script src="/public/jquery.js"></script>-->
        <!--<script src="/public/jQueryRotate.js"></script>-->
        <!--<script src="/public/awardRotate.js"></script>-->
        <!--<script src="/public/index2.js"></script>-->
        <style>
            *{padding:0;margin:0;}
        </style>
    </head>
    <body  class="hold-transition skin-blue fixed sidebar-mini">
        <div id="root"></div>
    </body>
    <script src="/build/main.js"></script>
    <script src="/public/jquery.js"></script>
	<!-- <script src="/public/gundong.js"></script> -->
    <!-- <script src="/public/gundong2.js"></script> -->
    <script src="/public/diejia.js"></script>
    <script src="/public/indexjs.js"></script>
</html>